.photo-grid__wrap {
  position: relative;
  display: block;
  /* border: 30px solid red; */
}

.photo-grid__wrap::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.photo-grid__wrap-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}
