.lead__title {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  margin: auto;
  max-width: 41rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.lead__title>span {
  background-color: tomato;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 3rem;
  }
}
