.lead__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
  margin: auto;
  max-width: 41rem;
  list-style-type: none;
  text-indent: -2rem;
  list-style-position: outside;
}

.lead__subtitle>li::before {
  content: "✎";
  padding-right: 10px;
  font-weight: normal;
  color: var(--main-color);
}
