.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
  margin: auto;
  max-width: 41rem;
  list-style-type: none;
  text-indent: -2rem;
  list-style-position: outside;
}

.lead__subtitle>li::before {
  content: "✎";
  padding-right: 10px;
  font-weight: normal;
}

/* @media (min-width: 768px) {
  .lead__subtitle {
    font-size: 1.875rem;
    line-height: 1.1612;
    margin: 0 auto 3.5rem;
    max-width: 40rem;
  }
} */
