.btn-back {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  padding: 10px;
  max-width: 150px;
  text-decoration: none;
  transition: .2s linear;
  /* Время изменения */
}

.btn-back:hover {
  color: #1d0e0e;
  /* Цвет текста */
  background: #f66d52;
  /* Цвет фона */
}
