.header__logo-link {
  display: grid;
  grid-template-columns: 130px 90px;
  column-gap: 10px;
  transition: .5s;
  font-size: 1.5rem;
  color: var(--main-color);
  max-width: 300px;
  text-decoration: none;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;


  place-items: center;
}

.header__logo-link:hover {
  cursor: url(../../../images/cursor-pointer.svg),
    pointer;
  opacity: 0.8;
}
