.portfolio-nav__item {
display: grid;
box-sizing: border-box;
height: 40px;
text-align: center;
place-items: center;
background-color: white;
color: #2A2C2F;
font-weight: 700;
text-decoration: none;
transition: .2s linear;
border-radius: 10px;
}

.portfolio-nav__item:hover {
  background: #f66d52;
  /* Цвет фона */
}
