.project-img {
  position: relative;
  display: block;
  transition: .3s;
}

.project-img::after {
  content: '';
  display: block;
  padding-top: 65%;
}

.project-img:hover {
  border: 1px solid #2A2C2F;
  /* Ширина, вид и цвет рамки */

}
